.facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 125px;

    &__title {
        font-weight: 500;
        font-size: 42px;
        text-transform: uppercase;
        text-align: center;
        color: #3e3e3e;
        position: relative;

        p {
            position: relative;
            z-index: 2;
        }

        &-decor {
            width: 403px;
            position: absolute;
            top: -10px;
            left: -20px;
            z-index: 1; 
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 20px;
        justify-content: space-between;
        padding: 25px;
        position: relative;

         &--1 {
            background: #e2f9d6;
            height: 305px;
            grid-area: 1 / 1 / 2 / 2;
        }

        &--2 {
            background: #ffedcb;
            height: 515px;
            grid-area: 1 / 2 / 3 / 3; // занимает 2 ряда по высоте
        }

        &--3 {
            background: #e2f9d6;
            height: 190px;
            grid-area: 1 / 3 / 2 / 4;
        }

        &--4 {
            background: #ffe3f1;
            height: 190px;
            grid-area: 2 / 1 / 3 / 2;
        }

        &--5 {
            background: #ffe3f1;
            height: 515px;
            grid-area: 2 / 3 / 4 / 4;
            margin-top: -115px;
        }

        &--6 {
            background: #ffedcb;
            height: 190px;
            grid-area: 3 / 1 / 4 / 2;
        }

        &--7 {
            background: #e2f9d6;
            height: 190px;
            grid-area: 3 / 2 / 4 / 3;
        }

        &-number {
            font-weight: 500;
            font-size: 60px;
            text-transform: uppercase;
            color: #45d670;

            &--1 {
                color: #45d670;
            }

            &--2 {
                color: #fbbf4a;
            }

            &--3 {
                color: #45d670;
            }

            &--4 {
                color: #f697c6;
            }

            &--5 {
                color: #f697c6;
            }

            &--6 {
                color: #fbbf4a;
            }

            &--7 {
                color: #45d670;
            }
        }

        &-title {
            font-weight: 500;
            font-size: 42px;
            text-transform: uppercase;
            color: #3e3e3e;
            line-height: 1;

            &--1 {
                font-size: 42px;
            }
            &--2 {
                font-size: 42px;
            }
            &--3 {
               font-size: 26px;
            }
            &--4 {
                font-size: 26px;
            }
            &--5 {
                font-size: 42px;
            }   
            &--6 {
                font-size: 26px;
            }
            &--7 {
                font-size: 26px;
            }
        }
    }

    .fact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 58px;
        border-radius: 20px;
        padding: 25px;

        &--1 {
            background: #e2f9d6;
            
        }
        &--2 {
            background: #ffedcb;
        }
        &--3 {
            background: #e2f9d6;
        }
        &--4 {
            background: #ffe3f1;
        }
        &--5 {
            background: #ffe3f1;
        }
        &--6 {
            background: #ffedcb;
        }
        &--7 {
            background: #e2f9d6;
        }

        &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            &--1 {
                color: #45d670;

                .fact__close {
                    background: url("data:image/svg+xml;utf8,<svg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 50L0 45L20 25L0 5L5 0L25 20L45 0L50 5L30 25L50 45L45 50L25 30L5 50Z' fill='%2345d670'/></svg>") center/contain no-repeat;
                }
            }
            &--2 {
                color: #fbbf4a;

                .fact__close {
                    background: url("data:image/svg+xml;utf8,<svg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 50L0 45L20 25L0 5L5 0L25 20L45 0L50 5L30 25L50 45L45 50L25 30L5 50Z' fill='%23fbbf4a'/></svg>") center/contain no-repeat;
                }
            }
            &--3 {
                color: #45d670;

                .fact__close {
                    background: url("data:image/svg+xml;utf8,<svg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 50L0 45L20 25L0 5L5 0L25 20L45 0L50 5L30 25L50 45L45 50L25 30L5 50Z' fill='%2345d670'/></svg>") center/contain no-repeat;
                }
            }
            &--4 {
                color: #f697c6;

                .fact__close {
                    background: url("data:image/svg+xml;utf8,<svg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 50L0 45L20 25L0 5L5 0L25 20L45 0L50 5L30 25L50 45L45 50L25 30L5 50Z' fill='%23f697c6'/></svg>") center/contain no-repeat;
                }
            }
            &--5 {
                color: #f697c6;

                .fact__close {
                    background: url("data:image/svg+xml;utf8,<svg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 50L0 45L20 25L0 5L5 0L25 20L45 0L50 5L30 25L50 45L45 50L25 30L5 50Z' fill='%23f697c6'/></svg>") center/contain no-repeat;
                }
            }
            &--6 {
                color: #fbbf4a;

                .fact__close {
                    background: url("data:image/svg+xml;utf8,<svg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 50L0 45L20 25L0 5L5 0L25 20L45 0L50 5L30 25L50 45L45 50L25 30L5 50Z' fill='%23fbbf4a'/></svg>") center/contain no-repeat;
                }
            }
            &--7 {
                color: #45d670; 

                .fact__close {
                    background: url("data:image/svg+xml;utf8,<svg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 50L0 45L20 25L0 5L5 0L25 20L45 0L50 5L30 25L50 45L45 50L25 30L5 50Z' fill='%2345d670'/></svg>") center/contain no-repeat;
                }
            }
        }

        &__number {
            font-weight: 500;
            font-size: 60px;
            text-transform: uppercase;
            line-height: 1;
        }

        &__close {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    }
}