@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro'),
       url('../fonts/gothampro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro'),
       url('../fonts/gothampro_medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro Bold'),
       url('../fonts/gothampro_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
html {
  height: 100%;
  width: 100%;
  margin:0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  scroll-behavior: smooth;
}
body {
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  -webkit-text-size-adjust: none;
  margin: 0;
  overflow-x: hidden;
  background: #f7fff3;
  padding: 14px 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor:pointer;
  transition: all .1s ease 0s;
}
input, textarea, select, button {
  font-family: inherit;
  outline: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &:focus::placeholder {
    visibility: hidden;
  }
}
input[type='number'] {
  appearance:textfield;
  -moz-appearance:textfield;
}
img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}

.svg {
  display: none;
}

.main-width {
  width: 100%;
  max-width: 1284px;
  margin: 0 auto;
  padding: 0 16px;

}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease;
  border-radius: 100px;
  padding: 16px 60px;
  height: 47px;
  background: #45d670;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  &--2 {
    background: #3e3e3e;
    color: #fff;
    width: 306px;

    &:after {
      content: '';
      display: block;
      width: 13px;
      height: 23px;
      margin-left: 15px;
     background: url("data:image/svg+xml;utf8,<svg width='13' height='23' viewBox='0 0 13 23' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12.4831 12.7776L2.49627 23L0 20.4448L8.73871 11.5L0 2.55515L2.49627 0L12.4831 10.2224C12.8141 10.5613 13 11.0208 13 11.5C13 11.9792 12.8141 12.4387 12.4831 12.7776Z' fill='%23ffffff'/></svg>") center/contain no-repeat;
    }
  }
}

/* header */
header {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 86px;
    padding:0 26px;
    border-radius: 20px;
    background: #e2f9d6;

    &__nav {
       display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .logo {
      height: 73px;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 18px;

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        height: 29px;
        border-radius: 100px;
        background: #45d670;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 29px;
        text-transform: uppercase;

        &:last-child {
          color: #45d670;
          background: #fff;
        }
      }
    }

    &__btn {
      font-size: 16px;
      line-height: 29px;
      gap: 8px;
      padding: 8px 30px;
      width: 196px;
      height: 29px;
    }

    &__copyright {
      display: none;
    }
  }
}

.to-top { 
    display: flex;
    width: 20px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    pointer-events: auto;
    transform: rotate(-90deg);
    position: absolute;
    right: 40px;
    bottom: 40px;
    background: url("data:image/svg+xml;utf8,<svg width='20' height='36' viewBox='0 0 20 36' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M19.2048 16.0003L3.84039 0L0 3.99937L13.4442 18L0 32.0006L3.84039 36L19.2048 19.9997C19.7139 19.4693 20 18.75 20 18C20 17.25 19.7139 16.5307 19.2048 16.0003Z' fill='%2345D670'/></svg>") center/contain no-repeat;
}

.animated {
  transition: max-width .4s ease-in-out, width .4s ease-in-out;
  overflow: hidden;

  &>div {
    background-size: contain;
    background-repeat: no-repeat;
  }

  svg {
      width: 100%;
      height: 100%;
  }

  img {
     height: 100%;
  }
}

.footer {
  border-radius: 20px;
  height: 86px;
  padding: 0 37px;
  background: #e2f9d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
    font-family: "Roboto Flex", sans-serif;
  }

  &__copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 71%;
    letter-spacing: 0.05em;
    color: #3e3e3e;
    transition: all .3s ease;
  }

  &__team-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 71%;
    letter-spacing: 0.05em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #3e3e3e;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &__team-block {
    position: absolute;
    top: -10px;
    left: 100px;
    width: 505px;
    font-size: 12px;
    line-height: 108%;
    letter-spacing: 0.05em;
    color: #3e3e3e;
    background: #e2f9d6;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    span {
      font-weight: 500;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 41px;
  }

  &__logos {
    display: flex;
    align-items: center;
    gap: 31px;
    height: 80px;
  }
}

/* navbar example */

.navbar-btn {
  width: 38px;
  min-height: 25px;
  background: url("data:image/svg+xml;utf8,<svg width='38' height='25' viewBox='0 0 38 25' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.82609 25C0.817568 25 0 24.1824 0 23.1739V22.6594C0 21.6509 0.817567 20.8333 1.82609 20.8333H36.1739C37.1824 20.8333 38 21.6509 38 22.6594V23.1739C38 24.1824 37.1824 25 36.1739 25H1.82609ZM1.82609 14.5833C0.817568 14.5833 0 13.7658 0 12.7572V12.2428C0 11.2342 0.817567 10.4167 1.82609 10.4167H36.1739C37.1824 10.4167 38 11.2342 38 12.2428V12.7572C38 13.7658 37.1824 14.5833 36.1739 14.5833H1.82609ZM1.82609 4.16667C0.817568 4.16667 0 3.3491 0 2.34058V1.82609C0 0.817568 0.817567 0 1.82609 0H36.1739C37.1824 0 38 0.817567 38 1.82609V2.34058C38 3.3491 37.1824 4.16667 36.1739 4.16667H1.82609Z' fill='%2345D670'/></svg>") center/contain no-repeat;

  &_close {
    width: 35px;
    min-height: 35px;
    background: url("data:image/svg+xml;utf8,<svg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M31.0879 1.35352C31.6737 0.767988 32.6233 0.767816 33.209 1.35352L33.6465 1.79102C34.2322 2.37671 34.232 3.3263 33.6465 3.91211L20.4121 17.1465C20.2172 17.3417 20.2172 17.6583 20.4121 17.8535L33.6465 31.0879C34.232 31.6737 34.2322 32.6233 33.6465 33.209L33.209 33.6465C32.6233 34.2322 31.6737 34.232 31.0879 33.6465L17.8535 20.4121C17.6583 20.2172 17.3417 20.2172 17.1465 20.4121L3.91211 33.6465C3.3263 34.232 2.37672 34.2322 1.79102 33.6465L1.35352 33.209C0.767816 32.6233 0.76799 31.6737 1.35352 31.0879L14.5879 17.8535C14.7828 17.6583 14.7828 17.3417 14.5879 17.1465L1.35352 3.91211C0.767989 3.3263 0.767817 2.37671 1.35352 1.79102L1.79102 1.35352C2.37672 0.767816 3.3263 0.767991 3.91211 1.35352L17.1465 14.5879C17.3417 14.7828 17.6583 14.7828 17.8535 14.5879L31.0879 1.35352Z' fill='%2345D670' stroke='%2345D670'/></svg>") center/contain no-repeat;
  }

  @media (min-width: 545px) {
    display: none;
  }
}



/* keyframes example */

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-3deg);
  }
}
